@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
:root {
    --first-font: 'Josefin Sans', sans-serif;
    --second-font: 'Great Vibes', sans-serif;
    --white: #ffffff;
    --black: #000000;
    --light: #42cbf8;
    --peach: #FFE5B4;
    --red: rgb(199, 14, 14);
    --grey: rgb(122, 120, 120);
    --gold: rgb(255, 218, 10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--first-font);
    background-color: var(--peach);
}

h1 {
    text-transform: capitalize;
    font-family: var(--second-font);
    font-size: 3rem;
    color: var(--gold);
    text-shadow: 1px 2px #000000;
    text-align: center;
    background-color: transparent;
}

.title {
    margin-top: 15vh;
    margin-bottom: 3rem;
}

.container {
    display: grid;
    justify-content: center;
    background-color: transparent;
}

.question {
    width: 18rem;
    margin-bottom: 2rem;
}

.question-title {
    background-color: whitesmoke;
    box-shadow: 2px 3px 2px var(--grey);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    padding-bottom: 0.5rem;
}

.question-title P {
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 15rem;
    padding-top: 0.8rem;
}

button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--gold);
    text-shadow: 1px 1px #000000;
}

.answer {
    word-wrap: break-word;
    width: 18rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    background-color: whitesmoke;
    box-shadow: 2px 3px 2px var(--grey);
    padding-bottom: 0.5rem;
    border-top: 2px solid var(--grey);
    display: none;
}

.plus-icon {
    display: inline;
}

.minus-icon {
    display: none;
}

.show-text .answer {
    display: block;
}

.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}

@media screen and (min-width:475px) {
    .question {
        width: 25rem;
    }
    .question-title p {
        width: 20rem;
    }
    .answer {
        width: 25rem;
    }
}

@media screen and (min-width:700px) {
    h1 {
        font-size: 4rem;
    }
    .answer {
        font-size: 1.2rem;
    }
    .question {
        width: 35rem;
    }
    .question-title p {
        width: 30rem;
        font-size: 1.5rem;
    }
    .answer {
        width: 35rem;
    }
}